section.page.press-page
  article.page-inside.press-page-inside
    header.page-header
      div.container
        h1 Press Page

    div.press-about
      div.container
        div.row
          div.col-md-4.col-lg-3
            h2.sub-header Learning Objectives Hardcoded
            ul(data-hook="learning-objectives")
            //div(data-hook="game-facts")
                
          div.col-md-8.col-lg-19
            h2 Game Information Hardcoded
            div(data-hook="game-info")


    div(data-hook="game-videos")
    
    div(data-hook="game-screenshots")

    div(data-hook="game-images")

    div(data-hook="game-awards")

    div(data-hook="game-mentions")

    div(data-hook="game-credits")