div.press-about
  div.container
    div.row
      div.col-md-3.col-lg-2
        div(data-hook="game-facts")
          Game Factsheet
      div.col-md-9.col-lg-10
        div(data-hook="game-info")
          Game Information
